body {
  background-color: goldenrod !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
.voiceit-title {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 4rem;
  text-decoration: none;
}

.form-container {
  background-color: #212529;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.form-switch-btn {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.fade-section.visible {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-section {
  opacity: 0;
}

.navbar {
  z-index: 3;
}

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  color: white !important;
}

.navbar-nav .nav-link {
  font-family: 'Libre Baskerville', serif;
  color: white !important;
  position: relative;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: gold;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
}

.navbar .col-3.col-md-2 {
  margin-left: -150px;
}
form, form * {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
}

form label,
form input,
form select,
form button,
form textarea {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
}
