body {
  background-color: goldenrod;
  font-family: Arial, sans-serif;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  padding: 15px 0;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
  color: #f8f6f6 !important;
}


.container h3 {
  color: black;
  margin-bottom: 30px;
}


.report-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}


.report-box {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.report-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.report-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.report-desc {
  font-size: 1rem;
  margin-bottom: 10px;
}

.report-date {
  font-size: 0.9rem;
  color: black;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: #1e1e1e;
  color: white;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  width: 90%;
  max-width: 500px;
  text-align: left;
  transition: all 0.3s ease;

}
.navbar-brand {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 2rem;
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
  font-family: 'Libre Baskerville', serif;
}
.container,
.container * {
  font-family: 'Playfair Display', serif;
}

#reportPopup,
#reportPopup * {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
}

#reportPopup h5 {
  font-weight: 600;
}
#reportPopup p span {
  font-weight: bold;
  color: #eceaea;
}
